<div class="entity-link-container">
  <a class="entity-link" href="/view?uuid={{uuid}}">
    {{entity.filename}} 
    <img src="/assets/{{iconForType type}}.svg"></img> 
  </a>
  {{#if buttonActionDisconnect}}
    <button hx-delete="/links?uuid1={{linkFromUuid}}&uuid2={{uuid}}" hx-target="closest .entity-link-container"> x </button>
  {{/if}}
  {{#if buttonActionConnect}}
    <button hx-post="/links?uuid1={{linkFromUuid}}&uuid2={{uuid}}" hx-target=".links" hx-swap="beforeend"> + </button>
  {{/if}}
</div>

<style>
  .entity-link-container {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 5px;
  }

  .entity-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--yellow);
  }

  .entity-link img {
    height: 20px;
    margin-left: 10px;
  }

  .entity-link-container button {
    opacity: 0;
    visibility: hidden;
  }

  .entity-link-container:hover button {
    opacity: 1;
    visibility: visible;
  }

</style>
