<div class="entity-link-container">
  <a class="entity-link" href="/view?uuid={{uuid}}">
    {{entity.filename}} 
    <img src="/assets/{{iconForType type}}.svg"></img> 
  </a>
  {{#if buttonActionDisconnect}}
    <img class="imgbtn" src="/assets/cross.svg" hx-delete="/links?uuid1={{linkFromUuid}}&uuid2={{uuid}}" hx-target="closest .entity-link-container"> </img>
  {{/if}}
  {{#if buttonActionConnect}}
    <img src="/assets/link.svg" hx-post="/links?uuid1={{linkFromUuid}}&uuid2={{uuid}}" hx-target=".links" hx-swap="beforeend"> </img>
  {{/if}}
</div>

<style>
  .entity-link-container {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 5px;
    margin-bottom: 8px;
  }

  .entity-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--yellow);
  }

  .entity-link-container img {
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
  }

  .entity-link-container .imgbtn {
    opacity: 0;
    visibility: hidden;
  }

  .entity-link-container:hover .imgbtn {
    opacity: 1;
    visibility: visible;
  }

</style>
